/* Custom DS4 Controller Styling */

.controller.custom {
  background-image: url(https://raw.githubusercontent.com/blindedot/custom-gamepad-viewer/main/base.svgz);
}

.custom.disconnected {
  background: url(https://raw.githubusercontent.com/blindedot/custom-gamepad-viewer/main/disconnected.svgz);
}

.custom .trigger {
  background-image: url(https://raw.githubusercontent.com/blindedot/custom-gamepad-viewer/main/triggers.svgz);
}

.custom .bumper {
  background-image: url(https://raw.githubusercontent.com/blindedot/custom-gamepad-viewer/main/bumper.svgz);
}

.custom .touchpad.pressed {
  background-image: url(https://raw.githubusercontent.com/blindedot/custom-gamepad-viewer/main/touchpad.svgz);
}

.custom .back,
.ds4 .start {
  background-image: url(https://raw.githubusercontent.com/blindedot/custom-gamepad-viewer/main/start.svgz);
}

.custom .button {
  background-image: url(https://raw.githubusercontent.com/blindedot/custom-gamepad-viewer/main/face.svgz);
}

.custom .stick {
  background-image: url(https://raw.githubusercontent.com/blindedot/custom-gamepad-viewer/main/sticks.svgz);
}

.custom .face {
  background-image: url(https://raw.githubusercontent.com/blindedot/custom-gamepad-viewer/main/dpad.svgz);
}
